main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:10px;
    padding: 10px;
}

.chapters-container{
    min-width: 30vw;
}

#title1{
    width: 100%;
}

#content1{
    display: none;
}