
.rename-popup{
    z-index: 9;
    position: fixed;
    right: 1rem;
    top: 6rem;
}

#rename-popup-close{
  color: black;
  justify-self: end;
  cursor: pointer;
}

.form-container
{
    background-color: white;
    display: none;
    grid-template-rows: 1fr;
    place-items: center;
    grid-gap:1rem;
    width: 20rem;
    padding: 1rem 1rem 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 43px -1px grey;
}