<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>

    {% load static %}
</head>

<body>
    <form action="" method="post" id="form">
        {% csrf_token %}
        <input type="text" name="section_name" id="section_name" value="{{section.title}}">
        <input hidden type="text" name="content" id="content">
        <input type="submit" value="Save" id="submit">
    </form>
    <div id="editor">{{section.content | safe}}</div>
</body>
<script src="{% static 'js/editor_view.js' %}"></script>

</html>